Calendar_agent.json
{
  "name": "Calendar agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be6efdde-f32f-4180-99c0-7fd30520e63d",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Role: \nYou are a smart calendar management assistant integrated into the Valera system. \nYour primary tasks are to create, retrieve, update, and delete calendar events efficiently. \nYou must always think carefully about the request before taking action, using the \"Think Tool\" if needed.\n\nFunctions Available:\n\n- **Create Event with Attendee** → For events with participants.\n- **Create Event** → For solo events without attendees.\n- **Get Events** → Retrieve the list of upcoming or past events.\n- **Delete Event** → Remove a scheduled event (requires event ID from \"Get Events\").\n- **Update Event** → Update event details (requires event ID from \"Get Events\").\n- **Search Events (Qdrant)** → Find events by semantic meaning via the vector database.\n\nSpecial Abilities:\n- If the user does not specify a description, generate an appropriate description automatically.\n- Support creating recurring events (daily, weekly, monthly).\n- Use the \"Think Tool\" to analyze unclear or complex user instructions before choosing an action.\n\nRules:\n- Always double-check the requested time and timezone.\n- Default event duration: **30 minutes** if unspecified.\n- If an event description is missing, auto-generate it using your internal knowledge.\n- Always log complex thoughts using the Think Tool before making calendar changes.\n\nCurrent Date/Time: {{ $now }}\nBe efficient, be accurate, and always aim to make scheduling smooth and stress-free for the user."
        }
      },
      "id": "34604de7-51aa-4a9a-8f67-9d5d31f0c2d2",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -820,
        -280
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "herousplay@gmail.com",
          "mode": "list",
          "cachedResultName": "herousplay@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -960,
        -60
      ],
      "id": "5222172f-f829-4d7a-b52a-8252abfcf3b3",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QzUBJzTakfkTG0Ei",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "herousplay@gmail.com",
          "mode": "list",
          "cachedResultName": "herousplay@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -840,
        -60
      ],
      "id": "12ce92ea-6d64-40a0-a8bb-d45ac4a4ccc7",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QzUBJzTakfkTG0Ei",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "herousplay@gmail.com",
          "mode": "list",
          "cachedResultName": "herousplay@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `the day before the date the user requested`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `the day after the date the user requested`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -720,
        -60
      ],
      "id": "b0589b06-70a6-4ffe-a682-960283319312",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QzUBJzTakfkTG0Ei",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "herousplay@gmail.com",
          "mode": "list",
          "cachedResultName": "herousplay@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -600,
        -60
      ],
      "id": "868b6f63-1fc7-4f25-b500-e3eb14a0d651",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QzUBJzTakfkTG0Ei",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "herousplay@gmail.com",
          "mode": "list",
          "cachedResultName": "herousplay@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -480,
        -60
      ],
      "id": "185233fd-ac73-470a-bb75-db3d3dea7bd5",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QzUBJzTakfkTG0Ei",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1240,
        -280
      ],
      "id": "03a64fc9-5b32-4e2a-a141-6e8a4d9e08ac",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "calendar_valera"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -1080,
        -60
      ],
      "id": "ceff56ff-7d36-4610-872b-4268ca91ddea",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "uI23wd1kQlqgujHe",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "calendar_jarvis",
          "mode": "list",
          "cachedResultName": "calendar_jarvis"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        300,
        -280
      ],
      "id": "58fbaafe-4c60-4354-8dd9-8c87d473cec2",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "JYWFyIjomXR6qCDV",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        420,
        -40
      ],
      "id": "765423b5-0946-4b4e-934c-82496146379f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1200,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        120
      ],
      "id": "3a645ab2-8da1-4033-ad9c-e89eb660e245",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "calendrar_jarvis",
        "toolDescription": "data for working with the calendar",
        "qdrantCollection": {
          "__rl": true,
          "value": "calendar_jarvis",
          "mode": "list",
          "cachedResultName": "calendar_jarvis"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -360,
        -40
      ],
      "id": "773f9528-1540-4d53-a871-905f2004923e",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "JYWFyIjomXR6qCDV",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -80,
        -60
      ],
      "id": "665b7002-99d4-48e0-99b7-dd1d9c171ba5",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1200,
        -60
      ],
      "id": "68e41243-67b6-4e56-a172-cb1a9e08f4bb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mSL5SDx4X3Y1BWQM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -280,
        120
      ],
      "id": "4995426a-20c5-4581-a7a2-47606b2eca58",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "cFlRGXneiD6nyy90",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        280,
        -100
      ],
      "id": "f98b574b-b5c4-46bc-9fe2-6842561d4130",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "cFlRGXneiD6nyy90",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56e0dee8-b9ea-4dbb-aafa-571ad0111e50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a800ebc29b853667ca6401bbd86fb0db83376837a93a3b0cb0d04ef52ddbf7c"
  },
  "id": "JNi7HgoqFmUFv0n4",
  "tags": []
}